%nav.menu
  %h1.name
    %i.fi-widget>
    Redis cart shop
  %ul.inline-list
    %li= link_to 'Home', root_path
  %ul.inline-list.hide-for-small-only.account-action
    = render 'layouts/navigation_links'
